.mid-container {
  margin: 0;
  padding: 0;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 30px;
}

.temp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.temp p {
  font-size: 100px;
  font-weight: 400;
}

.unit {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 700;
}

.unit p{
  font-size: 30px;
}

.tempImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.tempImg img {
  height: 160px;
  width: 160px;
}

.element {
  display: flex;
  align-items: center;
  gap: 10px;
}

.element .icon img {
  height: 30px;
  width: 30px;
}
.element .icon-detail{
  font-weight: 600;
}
