@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
  
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(57, 57, 57);
    
}
.appBody {
    height: 55vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('D:\Development Projects\React-TypeScript\my-app\src\components\Assets\night.jpg'); /* Using a relative path */
    background-position: center;
    border-radius: 30px;
}
